<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Cartuchos</title>

<script th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<script th:src="@{/webjars/angularjs/1.6.2/angular.min.js}"></script>

<script th:src="@{/js/app.js}"></script>

</head>
<body>
	<div ng-app="CartuchosApp">

		<!--==Menu ============================================================================== -->
		<nav class="navbar navbar-default" ng-controller="menuCtrl">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
					</button>
					<a class="navbar-brand" href="#" ng-click="telaInicio()">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Início
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Cadastro <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" ng-click="telaCartucho()">Cartucho</a></li>
								<li><a href="#" ng-click="telaDepartamento()">Departamento</a></li>
							</ul></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Estoque <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#" data-toggle="modal" data-target="#modalEntrada" 
											ng-click="listaCartuchos()">Entrada</a>
								</li>
								<li>
									<a href="#" data-toggle="modal" data-target="#modalSaida"
											ng-click="carregaSelects()">Saída</a>
								</li>
							</ul></li>
						<li>
							<a href="#" ng-click="telaRegistro()">
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Registros
							</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" 
									role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								{{ usuarioLogado.username }}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#" data-toggle="modal" data-target="#modalSenha"
											ng-click="limpaSenha()">
										Alterar senha
									</a>
								</li>
								<li><a href="logout">Logout</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!--==Inicio ============================================================================== -->
		<div ng-controller="inicioCtrl" ng-show="tela == 'inicio'">
			<form class="form-inline">
				<div class="form-group">
					<button type="button" class="btn btn-default" data-toggle="modal"
							data-target="#modalEntrada" ng-click="listaCartuchos()">
						<span class="glyphicon glyphicon-plus"></span> Entrada
					</button>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" data-toggle="modal"
							data-target="#modalSaida" ng-click="carregaSelects()">
						<span class="glyphicon glyphicon-minus"></span> Saída
					</button>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Busca" ng-model="busca"/>
				</div>
				<div class="form-group pull-right">
					<button type="button" class="btn btn-default" 
							ng-click="listaCartuchos()">
						<span class="glyphicon glyphicon-refresh"></span> Atualizar tabela
					</button>
				</div>
			</form>
			
			
			
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Cartucho</th>
							<th>Quantidade</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cartucho in cartuchos | filter:busca">
							<td>{{ cartucho.descricao }}</td>
							<td>{{ cartucho.quantidade }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!--==Cadastro-cartuchos ============================================================================== -->
		<div ng-controller="cartuchoCtrl" ng-show="tela == 'cartucho'">
			<form class="form-inline">
				<div class="form-group">
					<button type="button" class="btn btn-default" data-toggle="modal"
							data-target="#modalCartucho" ng-click="novoCartucho()">
						<span class="glyphicon glyphicon-plus"></span> Cadastrar cartucho
					</button>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Busca" ng-model="busca"/>
				</div>
				<div class="form-group pull-right">
					<button type="button" class="btn btn-default" ng-click="listaCartuchos()">
						<span class="glyphicon glyphicon-refresh"></span> Atualizar tabela
					</button>
				</div>
			</form>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Cartucho</th>
							<th>Ativo</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cartucho in cartuchos | filter:busca" data-toggle="modal"
								data-target="#modalCartucho" ng-click="loadCartucho(cartucho)">
							<td>{{ cartucho.descricao }}</td>
							<td><input type="checkbox" ng-model="cartucho.ativo" disabled/></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="modalCartucho" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Cartucho</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label>Descrição</label>
									<input class="form-control" type="text" ng-model="cartucho.descricao" 
											maxlength="10"/>
								</div>
								<!-- div class="form-group" ng-show="cartucho.id == null">
									<label>Quantidade inicial</label>
									<input type="number" class="form-control" min="1" ng-model="cartucho.quantidade"/>
								</div-->
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="cartucho.ativo"/>
										Ativo
									</label>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger pull-left" 
									ng-click="removeCartucho()" ng-hide="cartucho.id == null">
								<span class="glyphicon glyphicon-remove"></span> Remover
							</button>
							<button type="button" class="btn btn-default" ng-click="saveCartucho()">
								<span class="glyphicon glyphicon-save"></span> Salvar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--==Cadastro-departamentos ============================================================================== -->
		<div ng-controller="departamentoCtrl" ng-show="tela == 'departamento'">
			<form class="form-inline">
				<div class="form-group">
					<button type="button" class="btn btn-default" data-toggle="modal"
						data-target="#modalDepartamento" ng-click="novoDepartamento()">
						<span class="glyphicon glyphicon-plus"></span> Cadastrar departamento
					</button>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Busca" ng-model="busca"/>
				</div>
				<div class="form-group pull-right">
					<button type="button" class="btn btn-default" ng-click="listaDepartamentos()">
						<span class="glyphicon glyphicon-refresh"></span> Atualizar tabela
					</button>
				</div>
			</form>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Departamento</th>
							<th>Ativo</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="departamento in departamentos | filter:busca" 
								data-toggle="modal" data-target="#modalDepartamento" 
								ng-click="loadDepartamento(departamento)">
							<td>{{ departamento.descricao }}</td>
							<td><input type="checkbox" ng-model="departamento.ativo" disabled/></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div id="modalDepartamento" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Departamento</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label>Descrição</label>
									<input class="form-control" type="text" ng-model="departamento.descricao" 
											maxlength="20"/>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="departamento.ativo"/>
										Ativo
									</label>	
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger pull-left" 
									ng-click="removeDepartamento()" ng-hide="departamento.id == null">
								<span class="glyphicon glyphicon-remove"></span> Remover
							</button>
							<button type="button" class="btn btn-default" ng-click="saveDepartamento()">
								<span class="glyphicon glyphicon-save"></span> Salvar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--==Estoque-entrada ============================================================================== -->
		
		<div id="modalEntrada" class="modal fade" role="dialog" ng-controller="estqEntradaCtrl">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Entrada no estoque</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<lable>Cartucho</lable>
								<select class="form-control" ng-model="registro.cartucho" 
										ng-options="cartucho.descricao for cartucho in cartuchos">
									<option value="" disabled selected>Selecione</option>
								</select>
							</div>
							<div class="form-group">
								<lable>Quantidade</lable>
								<input type="number" class="form-control" min="1" 
										ng-model="registro.quantidade"/>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="saveEntrada()">
							<span class="glyphicon glyphicon-save"></span> Salvar
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<!--==Estoque-saída ============================================================================== -->
		<div id="modalSaida" class="modal fade" role="dialog" ng-controller="estqSaidaCtrl">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Saída no estoque</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label>Cartucho</label>
								<select class="form-control" ng-model="registro.cartucho" 
										ng-options="cartucho.descricao for cartucho in cartuchos">
									<option value="" disabled selected>Selecione</option>
								</select>
							</div>
							<div class="form-group">
								<label>Quantidade</label>
								<input type="number" class="form-control" min="1" 
										ng-model="registro.quantidade"/>
							</div>
							<div class="form-group">
								<label>Departamento</label>
								<select class="form-control" ng-model="registro.departamento" 
										ng-options="departamento.descricao for departamento in departamentos">
									<option value="" disabled selected>Selecione</option>
								</select>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="saveSaida()">
							<span class="glyphicon glyphicon-save"></span> Salvar
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<!--==Registros ============================================================================== -->
		<div ng-controller="registroCtrl" ng-show="tela == 'registro'">
			<form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control datepicker" placeholder="Data início" ng-model="de"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control datepicker" placeholder="Data fim" ng-model="para"/>
                </div>
                <button type="button" class="btn btn-default pull-right" ng-click="listaRegistros()">
				<span class="glyphicon glyphicon-refresh"></span> Atualizar tabela
			</button>
            </form>
            
            <div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Data</th>
							<th>Usuário</th>
							<th>Cartucho</th>
                            <th>Departamento</th>
                            <th>Operação</th>
                            <th>Quantidade</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="registro in registros | dateFilter:de:para">
							<td>{{ registro.data | date : "dd/MM/yyyy HH:mm:ss"}}</td>
							<td>{{ registro.usuario.username }}</td>
							<td>{{ registro.cartucho.descricao }}</td>
                            <td>{{ registro.departamento.descricao }}</td>
                            <td>{{ registro.operacao }}</td>
                            <td>{{ registro.quantidade }}</td>
						</tr>
					</tbody>
				</table>
			</div>
            
		</div>
		
		<!--==Altera Senha============================================================================= -->
		<div id="modalSenha" class="modal fade" role="dialog" ng-controller="senhaCtrl">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Alterar Senha</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<lable>Senha atual</lable>
								<input type="password" class="form-control" ng-model="usuarioLogado.senhaAtual" maxlength="20"/>
							</div>
							<div class="form-group">
								<lable>Nova senha</lable>
								<input type="password" class="form-control" ng-model="usuarioLogado.senha" maxlength="20"/>
							</div>
							<div class="form-group">
								<lable>Confirmar senha</lable>
								<input type="password" class="form-control" ng-model="usuarioLogado.senha2" maxlength="20"/>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="alteraSenha()" 
								ng-disabled="usuarioLogado.senha != usuarioLogado.senha2 || usuarioLogado.senha.length < 6">
							<span class="glyphicon glyphicon-save"></span> Alterar
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>